<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	
	<preference for="Eloom\Geolocation\Api\GeoIpInterface" type="Eloom\Geolocation\Model\GeoIp" />
	<preference for="Eloom\Geolocation\Api\HereInterface" type="Eloom\Geolocation\Model\Here" />
</config>